/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }
  #inicio{
    height: max-content;
  }
  .container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
  }

  .navbar-brand,
.navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
}
#logo-img {
    max-width: 50%; 
    height: auto; 
  }
  button{
text-align: right;
  }
  .contieneIcon{
    align-self: center;
  }
  .svg-icon {
    width: 50%; 
  height: 40px;
  margin-right:25px  ;
  }
  /* Estilos para dispositivos móviles */
  @media (max-width: 767px) {
    .container {
      padding: 10px;
    }
  }
  
  /* Estilos para tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      padding: 15px;
    }
  }
  
  /* Estilos para PCs pequeñas (992px - 1199px) */
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      padding: 20px;
    }
  }
  
  /* Estilos para PCs HD (1200px y superiores) */
  @media (min-width: 1200px) {
    .container {
      padding: 30px;
    }
  }
  
  /* Estilos para PCs 4K (2560px y superiores) */
  @media (min-width: 2560px) {
    .container {
      padding: 40px;
    }
  }
  